<%= form_with(model: question) do |form| %>
    <% if question.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(question.errors.count, "error") %> prohibited this post from being saved:</h2>
  
        <ul>
          <% question.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.collection_select :course_id, Course.all, :id, :title, {:include_blank => 'Please Select'}, {class: "dropdown-content my-1"} %>
      <br>
    <%= form.collection_select :category_id, Category.all, :id, :name , {}, {class: "dropdown-content my-1"} %>

    <div>
      <%= form.label :content, style: 'display: block' %>
      <%= form.text_field :content, class: 'input is-large' %>
    </div>

     <div>
        <%= form.fields_for :answers do |a| %>
          <%= a.label 'Answers', style: 'display: block' %>
          <%= a.text_field :content, class: 'input is-large' %>
         <%= a.check_box :_destroy %>
        <% end %>
      </div>

    <div class="mt-3">
      <%= form.submit class: 'button is-primary' %>
    </div>
  <% end %>
  